In [43]:
import pandas as pd
import json


with open('0a58ef5a-9f01-49bc-9bb7-f13ab042b80f_noPII.json') as data_file:
    data = json.load(data_file)

with open('0ab502fb-87e9-4764-8bc8-778da2e2bcfb_noPII.json') as data_file:
    data2 = json.load(data_file)
    
with open('0be25f06-b139-424d-8f78-f945dd32f1c9_noPII.json') as data_file:
    data3 = json.load(data_file)

In [44]:
#Exploring Data File 1... Listed Below is Account Keys and Descriptions as well as specific allocations relating to this 
#JSON File.
#Answers Question 1.

In [45]:
df_accounts = pd.json_normalize(data, record_path=['AccountAllocations', 'Accounts'])[['Key','Description']]

In [46]:
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [47]:
df_allocations = pd.json_normalize(data, record_path=['AccountAllocations','Accounts','FutureAllocations'], meta=[['AccountAllocations','Accounts','Key'],['AccountAllocations','Accounts','Description']])[['AllocationPct','AccountAllocations.Accounts.Description']]

In [48]:
df_allocations

   AllocationPct AccountAllocations.Accounts.Description
0            0.0                                   Fixed
1            0.0                                 FixedLT
2            0.0                  1-Year Indexed Account
3            0.0           1-Year No Cap Indexed Account
4            0.0    1-Year High Cap Plus Indexed Account
5          100.0                        Variable Account

In [49]:
df_allocation = pd.json_normalize(data, record_path=['FundAllocationFuture'])[['Name','Allocation']]

In [50]:
df_allocation

                         Name Allocation
0  Vanguard VIF Mid Cap Index       100%

In [51]:
#Exploring Data File 2... Listed Below is Account Keys and Descriptions as well as specific allocations relating to this 
#JSON File.
#Answers Question 1.

In [52]:
df_accounts2 = pd.json_normalize(data2, record_path=['AccountAllocations', 'Accounts'])[['Key','Description']]

In [53]:
df_accounts2

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [54]:
df_allocations2 = pd.json_normalize(data2, record_path=['AccountAllocations','Accounts','FutureAllocations'], meta=[['AccountAllocations','Accounts','Key'],['AccountAllocations','Accounts','Description']])[['AllocationPct','AccountAllocations.Accounts.Description']]

In [55]:
df_allocations2

   AllocationPct AccountAllocations.Accounts.Description
0            0.0                                   Fixed
1            0.0                                 FixedLT
2            0.0                  1-Year Indexed Account
3            0.0           1-Year No Cap Indexed Account
4            0.0    1-Year High Cap Plus Indexed Account
5          100.0                        Variable Account

In [56]:
df_allocation2 = pd.json_normalize(data2, record_path=['FundAllocationFuture'])[['Name','Allocation']]

In [57]:
df_allocation2

                         Name Allocation
0  Vanguard VIF Mid Cap Index       100%

In [58]:
#Exploring Data File 3... Listed Below is Account Keys and Descriptions as well as specific allocations relating to this 
#JSON File. 
#Answers Question 1.

In [59]:
df_accounts3 = pd.json_normalize(data3, record_path=['AccountAllocations', 'Accounts'])[['Key','Description']]

In [60]:
df_accounts3

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [61]:
df_allocations3 = pd.json_normalize(data3, record_path=['AccountAllocations','Accounts','FutureAllocations'], meta=[['AccountAllocations','Accounts','Key'],['AccountAllocations','Accounts','Description']])[['AllocationPct','AccountAllocations.Accounts.Description']]

In [62]:
df_allocations3

   AllocationPct AccountAllocations.Accounts.Description
0            0.0                                   Fixed
1            0.0                                 FixedLT
2            0.0                  1-Year Indexed Account
3            0.0           1-Year No Cap Indexed Account
4            0.0    1-Year High Cap Plus Indexed Account
5          100.0                        Variable Account

In [63]:
df_allocation3 = pd.json_normalize(data3, record_path=['FundAllocationFuture'])[['Name','Allocation']]

In [64]:
df_allocation3

                         Name Allocation
0  Vanguard VIF Mid Cap Index       100%

In [65]:
#The following code combines allocations from the three JSON files into one table.
#Answers Question 2.

In [69]:
df_allocations

merged_allocations = df_allocations.merge(df_allocations2, on='AccountAllocations.Accounts.Description')
merged_allocations = merged_allocations.merge(df_allocations3, on='AccountAllocations.Accounts.Description')
merged_allocations

,AllocationPct_x,AccountAllocations.Accounts.Description,AllocationPct_y,AllocationPct
0,0.0,Fixed,0.0,0.0
1,0.0,FixedLT,0.0,0.0
2,0.0,1-Year Indexed Account,0.0,0.0
3,0.0,1-Year No Cap Indexed Account,0.0,0.0
4,0.0,1-Year High Cap Plus Indexed Account,0.0,0.0
5,100.0,Variable Account,100.0,100.0

In [66]:
df_allocation

merged_allocation = df_allocation.merge(df_allocation2, on='Allocation')
merged_allocation = merged_allocation.merge(df_allocation3, on='Allocation')
merged_allocation

,Name_x,Allocation,Name_y,Name
0,Vanguard VIF Mid Cap Index,100%,Vanguard VIF Mid Cap Index,Vanguard VIF Mid Cap Index

In [ ]:
#The following code identifies the Riders from the JSON file and displays whether it is an optional add-on or not. 
#Answers Question 3.

In [67]:
df_riders = pd.json_normalize (data, record_path =['Riders'])[['Idx','Name','Category']]

In [68]:
df_riders

   Idx                                               Name   Category
0    1                                   Conversion Rider  Automatic
1    2                      Minimum Indexed Benefit Rider  Automatic
2    3                        Overloan Protection 3 Rider  Automatic
3    4  Accelerated Death Benefit Rider for Chronic an...   Optional
4    5  No Lapse Guarantee Rider (Short-Term No Lapse ...  Automatic
5    6  Accelerated Death Benefit Rider for Terminal I...   Optional

In [70]:
#Question 1

#The first task told us to determine which accounts were available for the shareholder to deposit their savings. 
#For each of the three JSON files, there are six different account options: Fixed, FixedLT, 1-Year Indexed Account, 
#1-Year No Cap Indexed Account, 1-Year High Cap Plus Indexed Account, and Variable Account.

In [71]:
#Question 2

#Our second task from the “to-do” list was to create a combined table from the three JSON files showing the Percentage of 
#Allocation of the three JSON files. As displayed in my code, the combined Allocation Percentage from the three Shareholders 
#is 100% Vanguard VIF Mid Cap Index.

In [ ]:
#Question 3

#The third and final task of the baby project was to explore the JSON file titled 0a58ef5a-9f01-49bc-9bb7-f13ab042b80f.JSON 
#and identify “Riders” in the file and determine if they are optional for the shareholder or not. I found six Riders in the 
#file and their names and corresponding values are shown in the code. 

#(‘Conversion Rider’: Automatic),
#(‘Minimum Indexed Benefit Rider’: Automatic),
#(‘Overloan Protection 3 Rider’: Automatic), 
#(‘Accelerated Death Benefit Rider for Chronic and Terminal Illness *Premier Living Benefits Rider 2*’: Optional), 
#(‘No Lapse Guarantee Rider *Short-Term No Lapse Guarantee*’: Automatic), 
#(‘Accelerated Death Benefit Rider for Terminal Illness *Terminal Illness Rider*’: Optional)